# REACT_APP_API_URL=http://localhost:8080/
REACT_APP_API_URL=[Your backend API URL]

DB_HOST=[Your DB host]
DB_PORT=[Your DB port]
DB_NAME=[Your DB name]
DB_USER=[Your DB user]
DB_PASSWORD=[Your DB password]

GOOGLE_APPLICATION_CREDENTIALS=[Your path to Firebase service account credentials]